
.card-container {
  display: grid;
  justify-content: center;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(0, calc(80px / 2*4));
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-evenly;
  
}

.flipCard {
  transform: rotateX(180deg);
}