
/* .card-container {
  display: grid;
  grid-gap: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-evenly;
  
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 205, 216);
}

.card-container {
  display: grid;
  justify-content: center;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(0, calc(80px / 2*4));
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-evenly;
  
}

.flipCard {
  transform: rotateX(180deg);
}